<div *ngIf="anmelden==true">
  <a class="btn" (click)="authenticate()">
    Anmelden
  </a>
</div>
<div *ngIf="anmelden==false">
  <div>
    <h2>Spotify</h2>
  </div>

  <div>
    <img src="{{albumUrl}}">
  </div>
<div>
  <div class="artistTitel">
    <h3>{{track}}</h3>
    <h3>{{artist}}</h3>
  </div>
    <div class="buttons">
      <button (click)="back()"><i class="fa fa-backward"></i></button>
      <button (click)="togglePLay()" *ngIf="toggle"><i class="fa fa-play"></i></button>
      <button (click)="togglePLay()" *ngIf="!toggle"><i class="fa fa-pause"></i></button>
      <button (click)="next()"> <i class="fa fa-forward"></i></button>
    </div>
  </div>

</div>
