*
  margin: 0 5px
i
  font-size: 20px
  text-align: center
  display: inline

div
  margin: 5px

img
  width: 100%
  height: auto
  marging: 0 auto
.buttons
  text-align: center
.artistTitel
  display: inline
  text-align: center



