  <h2 >Spotify</h2>
<div>
 <a href="https://accounts.spotify.com/authorize?client_id=05cd27ba45954604967db28cfd533e0d&redirect_uri=http://localhost:4200/&scope=user-read-private%20user-read-email%20user-modify-playback-state%20user-read-currently-playing%20user-read-playback-state&response_type=token&state=123">KLick me</a>
 <button  (click)="back()"  ><i class="fa fa-backward"></i></button>
<button (click)="togglePLay()" *ngIf="toggle"><i class="fa fa-play"></i></button>
<button  (click)="togglePLay()" *ngIf="!toggle" ><i class="fa fa-pause"></i></button>
<button  (click)="next()">  <i class="fa fa-forward"></i></button>
<button  (click)="getTrackInfo()">  <i class="fa fa-futbol-o"></i></button>

</div>
