@import '../../style/_var.sass'

// ##########################################################
// ##########################################################
// ##########################################################

img
  float: right
  margin-right: $cube


section
  form
    label
      input

#plzInputField
  width: 70%
  background-color: $light-grey
  border: none
  margin-left: 10px

#temperatur
  float: right
  margin-top: 2*$cube

