
<div class='container'>
    <div class="page-header">
        <h2>YouTube
            <img style="float: right;" *ngIf="loading" src='assets/images/loading.gif' />
        </h2>
    </div>

    <div class="row">
        <div class="input-group input-group-lg col-sm-8 col-md-8">
            <app-search-box (loading)="loading = $event" (results)="updateResults($event)"></app-search-box>
        </div>
    </div>

    <div class="top10">
        <p>{{message}}</p>
      </div>
      <div>
        <app-search-result *ngFor="let result of results" [result]="result"></app-search-result>
    </div>
</div>

