<div class="login">
    <form [formGroup]="signupForm"  (ngSubmit)="login()">
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" formControlName="email" />
            <div class="alert" *ngIf="email.invalid && email.dirty">
                E-Mail ungültig
            </div>
        </div>
        <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" formControlName="password" required />
            <div class="alert" *ngIf="password.invalid && password.touched" >
                Passwort ungültig
            </div>
            <div class="alert" *ngIf=" _http.passwordInvalid" >
                Email oder Passwort ungültig
            </div>
        </div>
        <button type="submit" [disabled]="!signupForm.valid" routerLink="/" routerLinkActive="active" class="btn btn-green">Login</button>
        <a routerLink="/register" routerLinkActive="active" class="btn btn-ghost">Registrieren</a>
    </form>
</div>
