@import '../../style/_var.sass'

// ##########################################################
// ##########################################################
// ##########################################################

#dashboard
  height: 100vh
  width: 100vw
  background: $background

#logout
  background: $green
  text-align: right
  padding: $cube $cube*3
  a
    color: white
    font-weight: 500

app-template-calendar
  position: absolute
  top: 0
  left: 0

app-template-clock
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
