<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="dashboard">
    <gridster [options]="options">
        <gridster-item [item]="item" *ngFor="let item of dashboard" [ngStyle]="{'background': item.bg}">
          <ngx-flip [flip]="active">
          <div class="button-holder" front>
            <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
              (touchstart)="removeItem($event, item)">
              <i class="fa fa-close"></i>
            </button>
            <label *ngIf="!item.hasContent">{{item.label}}</label>
            <div class="gridster-item-content" *ngIf="item.hasContent">
              <app-calendar *ngIf="item.type == 'calendar'" ></app-calendar>
              <app-weather *ngIf="item.type == 'weather'" ></app-weather>
              <app-template-todo-list *ngIf="item.type == 'todo'" ></app-template-todo-list>
              <app-youtube  *ngIf="item.type == 'youtube'" ></app-youtube>
              <app-spotify *ngIf="item.type =='spotify'"></app-spotify>
            </div>
</div>


            <section class="settings" back>

                  <label>
                      Farbe:
                    </label>
                      <select name="colorInput" [(ngModel)]="selectedColor">
                          <option *ngFor="let color of _colorService.colors" [ngValue]="color" [ngStyle]="{'background': color}">
                              {{ color }}
                          </option>
                      </select>

                  <br>
                  <button class="btn-settings" (click)="onSubmit(item)" type="submit">Farbe ändern</button>

              </section>
              </ngx-flip>
        </gridster-item>
      </gridster>
    <!-- <app-template-clock></app-template-clock>
    <app-template-calendar></app-template-calendar>
    <app-template-todo-list></app-template-todo-list> -->
</div>
<div id="logout">
    <a (click)="toggleSettingsMenu()">Settings</a>
    <a (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</a>
</div>
