@import '../../style/_var1.sass'

// ##########################################################
// ##########################################################
// ##########################################################


#dashboard-to-do
  background-color: $background

#dashboard
    height: 100vh
    width: 100vw
    background: $background

    gridster
        background: $background

        gridster-item
            box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.20)
            border-radius: 3px
            transition: all 0.3s cubic-bezier(.25,.8,.25,1)
            background-color: $blue
            padding: 5px 5px 5px 5px !important
            overflow-y: scroll
            overflow-x: hidden
            &:hover
                box-shadow: 0 3px 40px rgba(0,0,0,0.3), 0 3px 30px rgba(0,0,0,0.3)
            form
              height: 30%
              margin-bottom: 50px

.button-holder
  height: 50%

#logout
    background: $dark-grey
    text-align: right
    padding: $cube $cube*3
    display: flex
    justify-content: space-between
    a
        color: $light-grey
        font-weight: 500
        margin-left: 20px
        cursor: pointer
        border: 0.5px solid $white
        border-radius: 2px
        padding: 3px 5px

app-template-todo-list
  width: 5000px
  position: relative

