<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="dashboard">
  <nav>
    <div class="hamburg" (click)="transformMenu()" [ngClass]="status ? 'clicked' : 'unclicked'">
        <span class="linie"></span>
        <span class="linie"></span>
        <span class="linie"></span>
        <span class="linie"></span>
        <span class="linie"></span>
        <span class="linie"></span>
    </div>
  </nav>
  <gridster [options]="options">
      <gridster-item [item]="item" *ngFor="let item of dashboard">
        <div class="button-holder">
          <div class="gridster-item-content" *ngIf="item.hasContent">
            <app-weather *ngIf="item.type == 'weather'"></app-weather>
          </div>
            <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
                    (touchstart)="removeItem($event, item)">
              <i class="fa fa-close"></i>
            </button>
          </div>
          <label *ngIf="!item.hasContent">{{item.label}}</label>
          <button mat-mini-fab *ngIf="!item.hasContent" (mousedown)="removeItem($event, item)"
                  (touchstart)="removeItem($event, item)">
           <i class="fa fa-close"></i>
          </button>
      </gridster-item>
    </gridster>
    <!-- <app-template-clock></app-template-clock>
    <app-template-calendar></app-template-calendar>
    <app-template-todo-list></app-template-todo-list> -->
</div>
<div id="logout">
    <a (click)="logout()" routerLink="/login" routerLinkActive="active">Logout</a>
</div>
