// Color Palette
$background: #343434
$dark-grey: #343434
$grey: #6C6C6C
$light-grey: #F4F4F4
$dark-blue: #197672
$blue: #6CCECA
$light-blue: #C3E6E5
$red: #BC3D44
$black: #0A0A0A
$green: #086900
$white: #ffffff


// Padding & maring, Sizing
$cube: 1rem

// Fonts
$font: "Montserrat", sans-serif

// Reset
*
  margin: 0
  padding: 0
  text-decoration: none
  font-family: $font

// Button
.btn
    display: inline-block
    font-weight: 400
    text-align: center
    white-space: nowrap
    vertical-align: middle
    user-select: none
    border: 1px solid transparent
    padding: .5rem 1rem
    font-size: $cube*1.8
    line-height: 1.5
    border-radius: .25rem
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    cursor: pointer
    margin-top: $cube

.btn-green
    background-color: $green
    color: white

.btn-blue
    background-color: $blue
    color: $white
    max-width: 130px
    &:hover
        background-color: $white
        color: $blue

.btn-ghost
    color: $blue
    border: 1px solid $blue
    text-decoration: none
    margin-left: 20%
    max-width: 130px
    &:hover
        background-color: $white
        color: $blue
        border: 1px solid transparent

button
  background-color: transparent
  border: none
  i
      color: $dark-grey
      font-weight: bold
