@import '../../../../style/_var1.sass'

.message-list
  width: 100%

  h3
    margin: 20px 0 10px
    padding-top: 10px
    border-top: 1px solid $background

  .description
    width: 100%
    color: $background
    font-size: 1.2 * $cube
    opacity: 0.7

  p
    width: 100%
    line-height: 1.5 * $cube

  img
    width: 90px !important
